<header id="main-header">
	<h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
	<p></p>
	
	<nav class="site-nav">
      <ul class="site-nav-ul">
		<li><a class="page-link {% if page.permalink == '/about/' %} current-page {% endif %}" href="/about">About</a></li>
		<li><a class="page-link {% if page.permalink == '/documentation/' %} current-page {% endif %}" href="/documentation">Documentation</a>
		{% if page.baselink == '/documentation/' %}
			<ul>
				<li><a class="page-link thin {% if page.permalink == '/documentation/installation/' %} current-page {% endif %}" href="/documentation/installation">Installation</a></li>
				<li><a class="page-link thin {% if page.permalink == '/documentation/tools/' %} current-page {% endif %}" href="/documentation/tools">Tools</a></li>
				<li><a class="page-link thin {% if page.permalink == '/documentation/tests/' %} current-page {% endif %}" href="/documentation/tests">Tests</a></li>
				<li><a class="page-link thin {% if page.permalink == '/documentation/quickstart/' %} current-page {% endif %}" href="/documentation/quickstart">Quick Start</a></li>
				<li><a class="page-link thin {% if page.permalink == '/documentation/tutorials/' %} current-page {% endif %}" href="/documentation/tutorials">Tutorials</a></li>
				<li><a class="page-link thin {% if page.permalink == '/documentation/results/' %} current-page {% endif %}" href="/documentation/results">Benchmarks and Results</a></li>
			</ul>
		{% endif %}
		</li>
		<li><a class="page-link {% if page.permalink == '/publications/' %} current-page {% endif %}" href="/publications">Publications</a></li>
		<li><a class="page-link {% if page.permalink == '/repo/' %} current-page {% endif %}" href="/repo">Software Repository</a></li>
      </ul>
    </nav>

</header>
