<header id="main-header">
	<h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
	<p></p>
	
	<nav class="site-nav">
      <div class="trigger">
        {% for looppage in site.pages %}
          {% if looppage.url == "/" %}
		  {% else %}
		  <a class="page-link {% if looppage.permalink == page.url %} current-page {% endif %}" href="{{ looppage.url | prepend: site.baseurl }}">{{ looppage.title }}</a>
		  {% endif %}
        {% endfor %}
      </div>
    </nav>

</header>
